---
import MainLayout from "@layouts/MainLayout.astro";
import BlogPost from "@components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueAuthors = [
    ...new Set(allPosts.map((post) => post.data.author).flat()),
  ];

  return uniqueAuthors.map((author) => {
    const filteredPosts = allPosts.filter((post) => post.data.author == author);

    return {
      params: { author },
      props: { posts: filteredPosts },
    };
  });
}

const { author } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout title={author} description={`Posts from ${author}`}>
  <header class="full-columns">
    <h1>{author}</h1>
    <p>Posts from {author}</p>
  </header>

  <ul class="blog-list full-columns">
    {posts.map((post: Object) => <BlogPost post={post} />)}
  </ul>
</MainLayout>
