---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import Image from "astro/components/Image.astro";

const journals = await getCollection("journal");
---

<MainLayout>
  <header class="full-columns">
    <h1>My Daily Journal</h1>
    <p>My daily on-job training journal. Coming soon on July 1st.</p>
  </header>

  <section class="full-columns">
    <h2>Journals</h2>
    <ul class="blog-list">
      {
        journals.map((entry) => (
          <li class="journal-entry">
            <h3>
              <a href={entry.slug}>
                Day #{entry.data.day} - {entry.data.title}
              </a>
            </h3>

            {entry.data.image && (
              <Image
                width={450}
                height="800"
                src={entry.data.image.url}
                alt={entry.data.image.alt}
              />
            )}
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>

<style>
  .journal-entry {
    outline: 1px solid var(--outline-color-mute);
    padding: 1rem;
  }
</style>
