---
import MainLayout from "@layouts/MainLayout.astro";
import BlogPost from "@components/BlogPost.astro";

import CTA from "@components/CTA.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout title={tag} description={`Posts tagged with ${tag}`}>
  <h1>{tag}</h1>
  <p>Posts tagged with {tag}</p>

  <ul class="blog-list">
    {posts.map((post: Object) => <BlogPost post={post} />)}
  </ul>

  <CTA href="/latest">See more of my blogs</CTA>
</MainLayout>
