---
import MyLayout from "../layouts/MyLayout.astro";
const title = "Hello! I'm Efraim.";

const skillset = [
  {
    iconClass: "fa-brands fa-html5",
    skillname: "HTML",
  },
  {
    iconClass: "fa-brands fa-css3",
    skillname: "CSS",
  },
  {
    iconClass: "fa-brands fa-sass",
    skillname: "Sass",
  },
  {
    iconClass: "fa-brands fa-js",
    skillname: "JavaScript",
  },
  {
    iconClass: "fa-brands fa-vuejs",
    skillname: "Vue",
  },
  {
    iconClass: "fa-brands fa-git",
    skillname: "Git",
  },
  {
    iconClass: "fa-brands fa-github",
    skillname: "Github",
  },
  {
    iconClass: "fa-brands fa-python",
    skillname: "Python",
  },
];

const projects = [
  {
    link: "https://github.com/Klrfl/Sebastian",
    image: "../src/assets/Sebastian.png",
    heading: "Sebastian",
    text: "This is my first ever static site, made when I barely knew anything about CSS.",
    alt: "Screenshot of Sebastian's landing page",
  },
  {
    link: "https://github.com/Klrfl/Sebastian-Sidebar",
    image: "../src/assets/Sebastian Sidebar.png",
    heading: "Sebastian Sidebar",
    text: "This is an improved version of my first static site. Looks quite similar.",
    alt: "Screenshot of Sebastian Sidebar's landing page",
  },
  {
    link: "https://github.com/Klrfl/suwit-jawa",
    image: "../src/assets/Suwit Jawa by Klrfl.png",
    heading: "Suwit Jawa in JS",
    text: "Suwit Jawa game I made in JS.",
    alt: "Screenshot of my Suwit Jawa game",
  },
  {
    link: "https://porto.lupy.my.id",
    image: "../src/assets/X PPLG Portofolio Landing Page.png",
    heading: "PPLG Portfolio landing page.",
    text: "I designed the grid layout of this landing page",
    alt: "PPLG Portfolio collection landing page",
  },
];
---

<MyLayout title={title}>
  <main>
    <section class="hero">
      <div class="hero__text">
        <h1>{title}</h1>
        <p>I like making web experiences or something lol</p>
      </div>
      <div class="hero__image"></div>
    </section>

    <section class="main-section" id="skills">
      <div class="main-section__text">
        <h2>Skills</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          voluptas voluptate alias, a enim quia veniam sit ex facilis sunt
          numquam maiores minus, esse dicta est quam voluptatum optio aut.
        </p>
      </div>
      <div class="skills__cards-container">
        {
          skillset.map((skill) => (
            <div class="skill-card">
              <span class="skill-text">
                <i class:list={skill.iconClass} />
                {skill.skillname}
              </span>
            </div>
          ))
        }
      </div>
    </section>

    <section class="main-section" id="projects">
      <div class="main-section__text">
        <h2>Projects</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
          porro reprehenderit deleniti? Ipsa porro corrupti iusto quae nesciunt
          officiis quos neque modi ullam quis magni, esse libero, reprehenderit
          est odio!
        </p>
      </div>

      <div class="projects-container">
        {
          projects.map((project) => (
            <div class="project-card">
              <a href={project.link} target="_blank">
                <div class="project-card__image-container">
                  <img
                    src={project.image}
                    alt={`Screenshot of my project ${project.heading}`}
                    width="700"
                  />
                </div>
                <div class="project-text">
                  <h3>{project.heading}</h3>
                  <p>{project.text}</p>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </section>

    <section class="main-section" id="about">
      <div class="main-section__text">
        <h2>About me</h2>
        <p>
          My name is Efraim Munthe, I am a student currently learning about
          front-end web development and the JAMStack. I also recently got into
          backend web development, dabbling in NodeJS, PostgreSQL and Express. I
          haven't learned much about them, so I haven't put them into my skills
          yet.
        </p>
        <button class="btn about-cta"><a href="/about">See more</a></button>
      </div>
    </section>

    <section class="main-section" id="contact">
      <div class="main-section__text">
        <h2>Contact</h2>
        <p>Not functional at the moment. I am working on it please wait!!!</p>
      </div>
      <div class="form-container">
        <form action="">
          <label for="name">Name</label>
          <input type="text" required />
          <label for="email">Email</label>
          <input type="email" required />
          <input type="submit" />
        </form>
      </div>
    </section>
  </main>
</MyLayout>

<style>
  :root {
    --transition: ease-out 200ms;
    --transblack: rgb(0, 0, 0, 0.5);
    --blur: blur(2rem);
    --about-bg: #bf170b;
    --light-blue: #267ee6;
  }

  /* main section, hero */
  .main-section {
    padding: 4rem 2rem;
    background: var(--body-bg);

    position: relative;
  }

  .main-section > * {
    max-width: 120ch;
    margin: auto;
  }

  .hero {
    min-height: 100vh;
    color: #ddd;
    position: sticky;
    top: 0;
    z-index: -2;
    display: flex;
    flex-direction: column;
  }

  .hero__text {
    background: #2d2d3f;
    text-align: center;
    padding-block: 1em;
    padding-inline: 1em;
    z-index: 1;
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__text h1 {
    font-size: min(2rem, 8vmin);
    color: #ddd;
    width: max-content;
    margin: 0 auto;
    position: relative;
  }

  .hero__text h1::before,
  .hero__text h1::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  .hero__text h1::before {
    background: #2d2d3f;
    animation: typing 3s steps(18) 1000ms forwards;
  }

  .hero__text h1::after {
    background: white;
    width: 0.2rem;
    top: -5px;
    animation: typing 3s steps(18) 1000ms forwards, blink 1000ms infinite;
  }

  @keyframes typing {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    50% {
      background: transparent;
    }
    100% {
      background: white;
    }
  }

  .hero__image {
    order: -1;
    flex: 2 1 0;
    background-image: url(../assets/f1-75.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .hero__image > img {
    max-height: 100%;
    position: relative;
  }

  /* skills */
  .skills-section {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
  }

  .skills__cards-container {
    text-align: center;
    align-self: stretch;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .skill-card {
    font-size: 1.2em;
    border-radius: 0.5em;
    outline: 1px solid #444;
    padding-block: 2rem;
    padding-inline: 4rem;
    max-width: 20ch;
    overflow: hidden;
    user-select: none;

    transition: transform var(--transition), outline var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    position: relative;
  }

  .skill-text > i {
    display: block;
    margin-bottom: 0.5em;
  }

  .skill-card:hover {
    transform: scale(105%);
    outline: 1px solid #aaa;
  }

  .about__text {
    max-width: 75ch;
  }

  /* about */
  #about {
    background: var(--about-bg);
  }

  /* projects */
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
    gap: 1rem;
  }

  .project-card {
    outline: 2px solid var(--outline-color);
    border-radius: 0.5em;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transition: transform var(--transition);

    display: flex;
    flex-direction: column;
  }

  .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-text {
    padding: 1rem;
    color: var(--body-color);

    flex-grow: 1;
  }

  /* contact */
  #contact {
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 1rem;
  }

  #contact > * {
    flex: 1 1 0;
  }

  .form-container {
    background: #1c1b22;
    outline: 1px solid black;
    padding: 1em;
    align-self: stretch;
  }

  .form-container label {
    display: block;
    padding: 0.5em 0 1em 0;
  }

  .form-container input {
    padding: 0.5em;
    width: 100%;
  }

  @media screen and (min-width: 50em) {
    .hero__text {
      padding: 10em 10em 10em 5em;
      text-align: left;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      clip-path: polygon(100% 0, 50% 100%, 0% 100%, 0 0%);
    }

    .hero__text h1 {
      margin: 1em auto;
    }
    .hero__text p {
      max-width: 40ch;
    }

    .main-section {
      padding-inline: 4em;
    }

    #contact > div {
      flex: 1 1 0;
    }

    #contact {
      flex-direction: row;
    }
  }
</style>
