---
import { Image } from "astro:assets";
import { formatDate } from "@/scripts/utils";

const { post } = Astro.props;
const frontmatter = post.data;
---

<li class="post-container">
  <a class="post" href={`/blog/${post.slug}`}>
    <div class="post__metadata">
      <h3 class="post__title">{frontmatter.title}</h3>
      <p class="post__author-date">
        <span class="post__author">{frontmatter.author}</span>
        <span class="post__pub-date">
          {formatDate(frontmatter.pubDate)}
        </span>
      </p>

      <p class="post__description">{frontmatter.description}</p>

      <ul class="post__tag-wrapper">
        {frontmatter.tags.map((tag) => <li class="post__tag">{tag}</li>)}
      </ul>
    </div>

    <div class="post__image-container">
      {
        frontmatter.image && (
          <Image
            class="post__image"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            width={450}
            height={800}
            format="webp"
          />
        )
      }
    </div>
  </a>

  <style>
    .post-container {
      list-style: none;
    }

    .post-container + .post-container {
      margin-block-start: 1rem;
    }

    .post {
      border-bottom: 2px solid var(--outline-color-mute);
      text-decoration: none;
      color: inherit;
      transition:
        background-color var(--transition),
        box-shadow var(--transition);

      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .post:hover {
      background: var(--block-bg-hover);
      color: var(--nav-link-color-hover);
      box-shadow: 0 5px 10px var(--outline-color-mute);
    }

    .post__metadata {
      padding: 2rem;
    }

    .post__title {
      margin-block: 1rem;
      line-height: 1;
    }

    .post__author-date {
      margin-block: 0.4em;
      font-size: 0.85em;
    }

    .post__author-date > * {
      display: block;
    }

    .post__description {
      margin-block: 0.5em;
    }

    .post__tag-wrapper {
      list-style: none;
      margin-block: 1rem 0;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .post__tag {
      outline: 2px solid var(--outline-color-secondary);
      padding: 0.5rem 1rem;
      border-radius: 10rem;
      font-size: 0.85rem;
    }

    .post__image-container {
      order: -1;

      @media screen and (min-width: 50em) {
        order: 1;
      }
    }

    .post__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  </style>
</li>
