---
const { post } = Astro.props;
const frontmatter = post.frontmatter;
---

<li class="post-container">
  <a class="post" href={post.url}>
    <div class="post__metadata">
      <h2 class="post__title">{frontmatter.title}</h2>
      <p class="post__author-date">
        <span class="post__author">{frontmatter.author}</span>
        <span class="post__pub-date">
          {frontmatter.pubDate.substring(0, 10)}
        </span>
      </p>

      <p class="post__description">{frontmatter.description}</p>

      <ul class="post__tag-wrapper">
        {post.frontmatter.tags.map((tag) => <li class="post__tag">{tag}</li>)}
      </ul>
    </div>

    <div class="post__image-container">
      <img
        class="post__image"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
    </div>
  </a>
</li>

<style>
  .post {
    outline: 2px solid #343434;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .post-container + .post-container {
    margin-block-start: 0.5rem;
  }

  .post:hover {
    background: var(--block-bg-hover);
  }

  .post__metadata {
    flex: 2 1 40ch;
  }

  .post__title {
    margin-block: 0.5rem 0.1rem;
  }

  .post__author-date {
    margin-block: 0.4em;
    font-size: 0.9em;
  }

  .post__description {
    margin-block: 0.5em;
  }

  .post__tag-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .post__tag {
    outline: 2px solid var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
  }

  .post__image-container {
    flex: 1 1 200px;
  }
  .post__image {
    max-height: 100%;
  }
</style>
