---
import MyLayout from "../layouts/MyLayout.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";

import { formatDate } from "@/scripts/utils";

const { frontmatter } = Astro.props;
---

<MyLayout title={frontmatter.title} description={frontmatter.description}>
  <header>
    <div class="header__text">
      <h1 class="post-title">{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>

      <p class="post-metadata">
        <span class="post-metadata__author">
          By <a href=`/authors/${frontmatter.author}`>{frontmatter.author}</a>
        </span>
         -
        <span class="post-metadata__date">
          {formatDate(frontmatter.pubDate)}
        </span>
      </p>

      <div class="tags-wrapper">
        <ul class="tags">
          {
            frontmatter.tags.map((tag: String) => (
              <li class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <figure class="header__image-wrapper">
      {
        frontmatter.image && (
          <Image
            class="header__image"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            width={900}
            height={450}
            format="webp"
          />
        )
      }
    </figure>
  </header>

  <main>
    <article>
      <slot />
    </article>
  </main>
  <Footer />
</MyLayout>

<style>
  header {
    padding-block-start: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(50ch, 100%), 1fr));
    gap: 1rem;
  }

  .header__text {
    padding: 2rem;
  }

  .post-title {
    font-size: clamp(2em, 6vw, 3.2rem);
    line-height: 1;
  }

  .post-metadata__author {
    font-weight: bold;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    padding-block: 1rem;
  }

  .tag {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    outline: 2px solid var(--accent);
    color: var(--tag-color);
    font-size: 0.9rem;
  }

  .tag a {
    text-decoration: none;
    color: inherit;
  }

  .tag a:hover {
    text-decoration: underline;
  }

  .header__image-wrapper {
    margin: 0;
  }

  .header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main {
    padding: 2rem;
    max-width: 85ch;
    margin: 0;
  }
</style>
