---
import MyLayout from "../layouts/MyLayout.astro";
const { frontmatter } = Astro.props;
---

<MyLayout title={frontmatter.title}>
  <header>
    <div class="header__text">
      <h1 class="post-title">{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>

      <div class="post-metadata">
        <p class="">
          By
          <a
            class="post-metadata__author"
            href=`/authors/${frontmatter.author}`>
            {frontmatter.author}
          </a>
        </p>
        <p class="post-metadata__date">
          {frontmatter.pubDate.substring(0, 10)}
        </p>
      </div>

      <div class="tags-wrapper">
        <ul class="tags">
          {
            frontmatter.tags.map((tag) => (
              <li class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <figure class="header__image-wrapper">
      <img
        class="header__image"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
    </figure>
  </header>

  <main>
    <slot />
  </main>
</MyLayout>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  header > * {
    flex: 1 0 40ch;
  }

  .header__text {
    padding: 2rem;
  }
  .post-title {
    font-size: 2.8rem;
  }
  .post-metadata {
    display: flex;
    gap: 0.5rem;
  }

  .post-metadata p {
    margin: 0;
  }

  .post-metadata__author {
    font-weight: bold;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    padding-block: 1rem;
  }

  .tag {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    outline: 2px solid var(--accent);
    color: var(--tag-color);
    font-size: 0.9rem;
  }

  .tag a {
    text-decoration: none;
    color: inherit;
  }

  .tag a:hover {
    text-decoration: underline;
  }

  .header__image-wrapper {
    margin: 0;
  }

  .header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main {
    padding: 2rem;
    max-width: 85ch;
    margin: 0;
  }
</style>
