---
import type { CollectionEntry } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import { formatDate } from "@/scripts/utils";
import BlogPost from "@/components/BlogPost.astro";

interface Props {
  entry: CollectionEntry<"blog">;
  previous: CollectionEntry<"blog">;
  next: CollectionEntry<"blog">;
}

const { entry, previous, next } = Astro.props;
const frontmatter = entry.data;
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <header>
    <div class="header__text">
      <h1 class="post-title">{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>

      <p class="post-date">{formatDate(frontmatter.pubDate)}</p>

      <div class="tags-wrapper">
        <ul class="tags">
          {
            frontmatter.tags.map((tag: String) => (
              <li class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    {
      frontmatter.image && (
        <figure class="header__image-wrapper">
          <Image
            class="header__image"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            width={900}
            height={450}
            format="webp"
          />
        </figure>
      )
    }
  </header>

  <article class="full-columns">
    <slot />
  </article>

  <aside class="full-columns">
    <h2>Read more</h2>

    <ul class="blog-list">
      {previous && <BlogPost post={previous} />}
      {next && <BlogPost post={next} />}
    </ul>
  </aside>
</MainLayout>

<style is:global>
  article img {
    margin-inline: auto;
  }
</style>

<style>
  .header__text {
    padding: 2rem;
    grid-column: 1 / 5;
  }

  header:not(:has(.header__text + .header__image-wrapper)) .header__text {
    grid-column: 2 / span 6;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__image-wrapper {
    grid-column: 5 / -1;
  }

  @media screen and (max-width: 60rem) {
    .header__text,
    .header__image-wrapper {
      grid-column: 1 / -1;
    }
  }

  .post-title {
    font-size: clamp(2em, 6vw, 3.2rem);
    line-height: 1;
  }

  .post-date {
    margin-block: 0;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    padding-block: 1rem;
  }

  .tag {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    outline: 2px solid var(--accent);
    color: var(--tag-color);
    font-size: 0.9rem;
  }

  .tag a {
    text-decoration: none;
    color: inherit;
  }

  .tag a:hover {
    text-decoration: underline;
  }

  .header__image-wrapper {
    margin: 0;
  }

  .header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main {
    padding: 2rem;
    max-width: 85ch;
    margin: 0;
  }
</style>
