---
import MyLayout from "../layouts/MyLayout.astro";
import "../styles/postStyles.css";
import { Image } from "@astrojs/image/components";

import { formatDate } from "../scripts/utils";

const { frontmatter } = Astro.props;
---

<MyLayout title={frontmatter.title} description={frontmatter.description}>
  <header>
    <div class="header__text">
      <h1 class="post-title">{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>

      <div class="post-metadata">
        <p class="">
          By
          <a
            class="post-metadata__author"
            href=`/authors/${frontmatter.author}`>
            {frontmatter.author}
          </a>
        </p>
        <p class="post-metadata__date">
          {formatDate(frontmatter.pubDate)}
        </p>
      </div>

      <div class="tags-wrapper">
        <ul class="tags">
          {
            frontmatter.tags.map((tag) => (
              <li class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <figure class="header__image-wrapper">
      <Image
        class="header__image"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        width={700}
        aspectRatio="16:9"
        format="webp"
      />
    </figure>
  </header>

  <main>
    <article>
      <slot />
    </article>
  </main>
</MyLayout>
